#userInfoSection {
	overflow: auto;
}

#userImage {
	width: 192px;
	height: 192px;

	float: left;
}

#userDetails {
	margin-left: 1%;
	
	float: left;
}

.admin:after {
	color: #b00;
	content: " •";
}
